/* HTML Elements */
body {
	margin: 0 auto;
	width: 80%;
	color: #333;
}

a {
	color: #34758F;
	text-decoration: none;
}

a:hover {
	color: #2D7DC5;
}

h1, h2 { font-weight: normal; }
h2, h3, h4, h5 { font-family: 'Ubuntu', Helvetica, Arial, sans-serif; }
h1 { font-size: 2.8em; letter-spacing: 4px; font-family: 'Nixie One', Helvetica, Arial, sans-serif; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5 { font-size: 1em; }

h1 a, h2 a {
	text-decoration: none;
	color: inherit;
}

p {
	line-height: 16px;
	margin-bottom: 6px;
}

ul, ol { list-style-position: inside; }
/* End HTML Elements */

/* Containers */
#heading {
	margin-top: 20px;
}

#container {
	margin-top: 24px;
}

#navigation {
	float: left;
}

#account-menu {
	float: right;
}

#content {
	clear: both;
	padding-top: 22px;
}

#footer {
	margin-top: 36px;
}
/* End Containers */

/* Status Messages */
#status span {
	padding: 8px 12px;
	display: block;
	border: 1px solid #CACACA;
	border-top: none;
}

#status .error {
	background-color: #D84743;
	color: #FEE;
	border-color: #911D1B;
}

#status .success {
	background-color: #96ED89;
	color: #151;
	border-color: #45BF55;
}
/* End Status Messages */

/* Navigation & Menus */
#navigation a {
	font-size: 1.2em;
}

#navigation li, #account-menu li {
	float: left;
	list-style: none;
	margin-right: 12px;
}

#account-menu li {
	margin-left: 12px;
	margin-right: 0;
}
/* End Navigation & Menus */

/* Content */
#content h2 {
	margin-bottom: 6px;
}
/* End Content */

/* Form Elements & Buttons */
form {
	margin: 12px 0;
}

fieldset {
	border: 1px solid #BFBFBF;
	padding: 8px;
	margin-bottom: 24px;
}

legend {
	padding: 0 8px;
	font-size: 14px;
	letter-spacing: 1px;
	color: #34758F;
}

label {
	padding: 3px 0;
}

input, textarea, select {
	display: inline-block;
	width: auto;
	height: auto;
	padding: 4px 6px;
	border: 1px solid #BFBFBF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
	box-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

input:hover, textarea:hover, select:hover, input:focus, textarea:focus, select:focus {
	border: 1px solid #7C5;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.6);
	box-shadow: 0 1px 4px rgba(0,0,0,0.6);
}

form.tabbed label {
	float: left;
	width: 150px;
}

form.tabbed input, form.tabbed textarea {
	width: 250px;
}

input.small {
	width: 120px !important;
}

form.tabbed div {
	margin-bottom: 9px;
}

form.tabbed .error {
	margin-left: 6px;
	vertical-align: middle;
}

form.tabbed #controls {
	margin-left: 150px;
	margin-top: 12px;
	clear: both;
}

#controls .center {
	margin: 0 auto;
}

#controls button, #controls .button, #controls .submit {
	margin-right: 4px;
}

form span.note {
	color: #34758F;
	font-style: italic;
	padding-left: 8px;
	vertical-align: middle;
}
/* End Form Elements & Buttons */

/* Wishlists */
#recommendations li img {
	width: 50px;
}
/* End Wishlists */

/* Ajax-Editable Form Elements */
.plain-text {
	background: none;
	border-color: transparent;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.plain-text:hover {
	background-color: #ffb;
	border-color: transparent;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
/* End Ajax-Editable Form Elements */

/* Common Classes */
.notice {
	margin: 8px 0;
}

.error {
	color: #D00;
}

.hidden {
	display: none;
}
/* End Common Classes */