/* BEGIN RESET STYLES */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

html { overflow-y: scroll; -webkit-font-smoothing: antialiased; }
body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; }
table { font-size:inherit; font:100%; }
select, input, button, .button, textarea { font:99% sans-serif; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input, button, select, textarea { cursor: pointer; }
option { cursor: default; }
.ie7 img { -ms-interpolation-mode: bicubic; }

article, aside, figure, footer, header,
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }
/* END RESET STYLES */

/* HTML Elements */
body {
	margin: 20px auto;
	width: 80%;
}

h1, h2, h3, h4 { font-family: Helvetica, Verdana, Arial, sans-serif; }
h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; }

p {
	line-height: 14px;
	margin-bottom: 6px;
}

ul, ol { list-style-position: inside; }
/* End HTML Elements */

/* Containers */
#container {
	margin-top: 12px;
}

#navigation {
	float: left;
}

#account-menu {
	float: right;
}

#status {
	clear: left;
	margin-top: 12px;
}

#content {
	clear: both;
	padding-top: 22px;
}

#footer {
	margin-top: 36px;
}
/* End Containers */

/* Navigation & Menus */
#navigation li, #account-menu li {
	float: left;
	list-style: none;
	margin-right: 12px;
}

#account-menu li {
	margin-left: 12px;
	margin-right: 0;
}
/* End Navigation & Menus */

/* Content */
#content h2 {
	margin-bottom: 6px;
}
/* End Content */

/* Form Elements & Buttons */
form {
	margin: 12px 0;
}

fieldset {
	border: 1px solid #BFBFBF;
	padding: 8px;
	margin-bottom: 32px;
}

legend {
	padding: 0 8px;
	font-size: 14px;
	letter-spacing: 1px;
	color: #34758F;
}

label {
	padding: 4px 0;
}

input, textarea, select, button, .submit, .button, .button:visited {
	display: inline-block;
	width: auto;
	height: auto;
	padding: 4px 8px;
	-moz-border-radius: 6px;
	border: 1px solid #BFBFBF;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
	box-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

input:hover, textarea:hover, select:hover, input:focus, textarea:focus, select:focus {
	border: 1px solid #7C5;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.6);
	box-shadow: 0 1px 4px rgba(0,0,0,0.6);
}

button, .submit, .button, .button:visited {
	vertical-align: middle;
	background: #34758F;
	color: #FFF;
	text-decoration: none;
	text-shadow: -1px -1px 4px rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

button:hover, .submit:hover, .button:hover {
	text-shadow: -1px -1px 2px rgba(0,0,0,0.5);
	background: #38A;
}

form.tabbed label {
	float: left;
	width: 150px;
}

form.tabbed input, form.tabbed textarea {
	width: 250px;
}

input.small {
	width: 120px !important;
}

form.tabbed div {
	margin-bottom: 9px;
}

form.tabbed .error {
	margin-left: 6px;
	vertical-align: middle;
}

form.tabbed #controls {
	margin-left: 150px;
	margin-top: 12px;
	clear: both;
}

#controls .center {
	margin: 0 auto;
}

#controls button, #controls .button, #controls .submit {
	margin-right: 4px;
}

form span.note {
	color: #34758F;
	font-style: italic;
	padding-left: 8px;
	vertical-align: middle;
}
/* End Form Elements & Buttons */

/* Ajax-Editable Form Elements */
.plain-text {
	background: none;
	border-color: transparent;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.plain-text:hover {
	background-color: #ffb;
	border-color: transparent;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
/* End Ajax-Editable Form Elements */

/* Common Classes */
.notice {
	margin: 8px 0;
}

.error {
	color: #D00;
}

.hidden {
	display: none;
}
/* End Common Classes */